/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
}

.container {
  background-color: transparent;
  max-width: 1000px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.info .container,
.quote .container,
.signup .container {
  height: 500px;
  display: block;
  padding: 32px;
}

/************* HERO SECTION ************/

.hero .container {
  height: 500px;
  justify-content: space-between;
  align-items: center;
}

header,
footer {
  height: 80px;
  background-color: #1f2937;
}

.hero {
  background-color: #1f2937;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: 100%;
}

nav li {
  margin-left: 30px;
}

nav li a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

main {
  flex: 1;
}

.hero .container h2 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  line-height: 1;
}

.hero p {
  margin-top: 1rem;
  font-size: 18px;
  color: #e5e7eb;
}

.hero button {
  background-color: #3883f6;
  padding: 0.8em 2em;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 1em;
  font-weight: 700;
  cursor: pointer;
}

.hero-content,
.hero-image {
  flex: 1;
}
.hero-content {
  margin-right: 1rem;
}

/************* INFO SECTION ************/

.info h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 32px;
}
.info .cards {
  display: flex;
  gap: 25px;
}
.info .cards img {
  width: 100%;
  border-radius: 8px;
}
.info .cards p {
  text-align: center;
}

/************* QUOTE SECTION ************/

.quote {
  background-color: #e5e7eb;
}
.quote .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote blockquote {
  display: flex;
  flex-direction: column;
}
.quote blockquote p {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}
.quote blockquote cite {
  margin-top: 16px;
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  color: #1f2937;
  align-self: flex-end;
}

/************* SIGNUP SECTION ************/

.signup .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.signup .content {
  background-color: #3883f6;
  color: #fff;
  width: 1000px;
  height: 180px;
  border-radius: 8px;
  padding: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup h2 {
  font-size: x-large;
}

.signup .content div:first-child {
  flex: 1;
}

.signup .content button {
  background-color: #3883f6;
  padding: 0.8em 2em;
  color: white;
  border: 2px solid #fff;
  border-radius: 8px;
  margin-left: 1em;
  font-weight: 700;
  cursor: pointer;
}

/************* FOOTER ************/

footer .container {
  justify-content: space-between;
  align-items: center;
}

footer .container p {
  text-align: center;
  color: #fff;
  margin: 0 auto;
}
